body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  color: #000000;
  font-family: sans-serif;
  font-size: 2rem;
}

button {
  font-size: 2rem;
}

.h1_title {
  grid-area: h1;
}
.h2_body {
  grid-area: h2;
  padding: 3em;
  text-align: center;
}
#generate_songs {
  grid-area: button;
  width: 50%;
}

#songs_container {
  grid-area: songs;
  display: grid;
  justify-items:center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#songs_container > div {
  width: 100%;
}

#songs_container > div > img {
  width: 100%;
}

.content{
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  grid-template-areas: "h1"
                       "h2"
                       "button"
                       "songs";
}
